# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
        . /etc/bashrc
fi
export CATALINA_OUT=/var/opt/jfrog/artifactory/logs/catalina/catalina.out

# User specific aliases and functions
