<VirtualHost *:80>
    ServerName ecyumrk1v.wsgc.com
    ServerAlias {{ ansible_hostname }}.wsgc.com

    # Commenting out the https redirect until we don't need to support
    # pure http (which is used from user jetty configs when running
    # locally).  Until then, add ProxyPass lines here, which need to
    # be removed when we go to https).  PCH, 9/27/2019.
    ProxyPass /artifactory  http://localhost:8081/artifactory

    # # This matches any URL, and re-anchors the whole thing at the new location
    # Redirect / https://ecyumrk1v.wsgc.com/
</VirtualHost>

<VirtualHost *:443>
    ServerName ecyumrk1v.wsgc.com
    ServerAlias {{ ansible_hostname }}.wsgc.com
    ServerAdmin eComTahoe@wsgc.com

    SSLEngine on
    #SSLCertificateFile /etc/pki/tls/certs/artifactory.wsgc.com.crt
    #SSLCertificateChainFile /etc/pki/tls/certs/artifactory.wsgc.com.crt
    #SSLCertificateKeyFile /etc/pki/tls/private/artifactory.wsgc.com.key
    SSLCertificateFile /etc/pki/tls/certs/localhost.crt
    SSLCertificateKeyFile /etc/pki/tls/private/localhost.key
    SSLProxyEngine on

    # Secure settings copied from https://cipherli.st/, with 'SSLProtocol' restricted further to TLS 1.2 only.
    SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
    SSLProtocol -All +TLSv1.2
    SSLHonorCipherOrder On
    Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    Header always set X-Frame-Options DENY
    Header always set X-Content-Type-Options nosniff
    SSLCompression off

    ## Application specific logs
    LogLevel info ssl:warn
    ErrorLog /var/log/httpd/ssl_error.log
    CustomLog /var/log/httpd/ssl_access.log combined

    AllowEncodedSlashes On
    RewriteEngine on

    RewriteCond %{SERVER_PORT} (.*)
    RewriteRule (.*) - [E=my_server_port:%1]
    RewriteCond %{REQUEST_SCHEME} (.*)
    RewriteRule (.*) - [E=my_scheme:%1]

    RewriteCond %{HTTP_HOST} (.*)
    RewriteRule (.*) - [E=my_custom_host:%1]

    RewriteCond "%{REQUEST_URI}" "^/(v1|v2)/"
    RewriteCond "%{HTTP_HOST}" "^(.*)\.{{ ansible_hostname }}.wsgc.com$"
    RewriteRule "^/(v1|v2)/(.*)$" "/artifactory/api/docker/%1/$1/$2" [PT]

    RewriteRule ^/$                /artifactory/webapp/ [R,L]
    RewriteRule ^/artifactory(/)?$      /artifactory/webapp/ [R,L]
    RewriteRule ^/artifactory/webapp$   /artifactory/webapp/ [R,L]

    RequestHeader set Host %{my_custom_host}e
    RequestHeader set X-Forwarded-Port %{my_server_port}e
    RequestHeader set X-Forwarded-Proto %{my_scheme}e
    RequestHeader set X-Artifactory-Override-Base-Url %{my_scheme}e://{{ ansible_hostname }}.wsgc.com:%{my_server_port}e/artifactory
    
    ProxyPreserveHost On
    ProxyPassReverseCookiePath /artifactory /artifactory
    ProxyRequests off
    ProxyPass /artifactory/ http://localhost:8081/artifactory/
    ProxyPassReverse /artifactory/ http://localhost:8081/artifactory/
</VirtualHost>